---
import Layout from "../layouts/Page.astro";
import Container from "../components/Container.astro";
import Contact from "../components/Contact.astro";

const seo = {
  title: "0x01000111",
  description: "0x01000111's Landing Page, built by Astro ",
};
---

<style>
  .hero__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    text-align: center;
  }

  .description {
    margin-bottom: 1em;
  }
</style>

<Layout seo={seo}>
  <Container narrow>
    <article class="hero__article">
      <h1 class="fade-in">0x01000111</h1>
      <p class="fade-in">00111010 00100000 00101001</p>
      <p class="fade-in description">
        01001000 01100101 01101100 01101100 01101111 00101100 00100000 01110100 01101000 01100101 01110010 01100101 00100000 00111100 00110011
      </p>
      <Contact />
    </article>
  </Container>
</Layout>
