---
import Layout from "../layouts/Page.astro";
import Container from "../components/Container.astro";
import SignupForm from "../components/SignupForm.astro";

const seo = {
  title: "Cannonball by Little Sticks | A splash page template",
  description:
    "This is a simple splash page template built with Astro by Little Sticks",
};
---

<style>
  .hero__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    text-align: center;
  }
</style>

<Layout seo={seo}>
  <Container narrow>
    <article class="hero__article">
      <h1 class="fade-in">0x01000111</h1>
      <p class="fade-in">01100111 01101101</p>
      <p class="fade-in">
        01110010 01100001 01110110 01100101 01110010 01110011
      </p>
      <SignupForm />
    </article>
  </Container>
</Layout>
