---
import Button from "./Button.astro";
---

<Button
  aria-label="Contact Us"
  title="Click here to contact us"
  href="mailto:01000111@0x01000111.io"
  role="button"
>
  <span>Contact</span>
</Button>
