---
import Button from "./Button.astro";
import { Icon} from 'astro-icon';
---

<Button
  aria-label="Contact Us"
  title="Click here to contact us"
  href="mailto:01000111@0x01000111.io"
  role="button"
>
  <Icon name="mdi:email" width="36px" height="36px" />
</Button>
